

h1, h2, h3, h4, h5, h6{
	font-family: $font-family-title;
	text-transform: uppercase;
	font-weight: lighter;
	line-height: 1.2;
}

h1{
	font-size: $ft-size-big;
}

h2{
	font-size: $ft-size-larger;
}

h3{
	font-size: $ft-size-largest;
}

h4{
	font-size: $ft-size-larger;
} 

a{
	&:hover{ 
		background-color: rgba(black, 0.6);
	}
	padding: $gutter-mini;
	display: inline-block;
}

nav > ul, %list-basic{
	padding: 0;

	li{
		list-style: none;
	}
}

.list{
	@extend %list-basic;

	li{
		display: inline-block;
		vertical-align: baseline;
	}
}

img, iframe{
	max-width: 100%;
}

/* bloc */

.banner{
	padding: rem-calc(100) 0 rem-calc(40);
	text-align: center;

	.thumbnail{
		padding: $gutter-large 0;
	}

	h2{
		font-size: $ft-size-super-hudge;
		margin-top: - $gutter-large;
		margin-bottom: 0;
	}

}

.highlight{
	.video{
		text-align: center;
	}

	.content{
		max-width: rem-calc(800);
		padding: $gutter $gutter-large;
		margin: 0 auto;
	}
}

.adventures{
	text-align: center;

	
	.adventure{
		display: inline-block;
		list-style: none;
		margin-bottom: $gutter-large;
		border: thin transparent solid;
		width: rem-calc(800);


		> div{
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			text-align: left;
		}

		&.medium{
			width: rem-calc(398);

			> div{
				width: 50%;
			}
			.content{
				display: none;
			}
		}

		.thumbnail{
		}

		.details{
			padding: $gutter $gutter-large;
		}
		
		h4{
			margin-top: 0;
			padding-bottom: $gutter-small;
			margin-bottom: $gutter-small;
			border-bottom: solid thin white;
		}

		nav > ul{
			padding: 0;

			> li{
				display: inline-block;
				vertical-align: baseline;
				list-style: none;
				text-transform: uppercase;

				&:after{
					content: "|";
					padding: 0 $gutter;
				}

				&:last-child:after{
					display: none;
				}
			}
		}
	}
}

.actus{
	text-align: center;

	.actu{

		a{
			position: relative;
			display: block;
			width: rem-calc(200);
			height: rem-calc(133);
			overflow: hidden;
			text-align: left;

			h4{
				position: absolute;
				height: 100%;
				width: 100%;
				background-color: transparent;
				top: 0;
				margin: 0;
				padding: $gutter;
				padding-top: 100%;

				@include single-transition(all, 0.4s);
			}

			&:hover{
				h4{
					padding-top: $gutter-large;
					background-color: rgba(0,0,0,0.8);
				}
			}
			
		}
	}
	
	.more a{
		display: block;
		width: rem-calc(200);
		height: rem-calc(133);
		background-color: rgba(0,0,0, 0.8);
	}

}