html {
  font-size: $rem-base;
}

body{
	@include reset-box;
}

body{
	@include bg('fond.jpg', top center);
	
	font-family: 'Raleway', sans-serif;
	font-size: $ft-size-medium;
	color: $text-color;
	background-color: $body-bg;

	&.home{
		// @include bg('fond-home.jpg', 'top center');
	}
}

.header{
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0;
}

.wrapper {
	max-width: $wrapper-width;
	padding: 0 $margin-horizontal-large;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	padding-top: rem-calc(50);
	min-height: 100vh;
}

main{
	position: relative;
	> section, > article > section{
		padding: $gutter-large 0;
		margin: 0 auto;
	}
}

.sidebar{
	display: none;
}

footer{
	text-align: center;
	font-size: $ft-size-normal;
	opacity: 0.4;
}