/**
 * partials/nav
 * ---
 * Menus
 */


 .nav {
 	font-family: $font-family-title;
 	max-width: $wrapper-width;
 	padding: 0 $margin-horizontal-large;
 	margin: 0 auto;
 	@include display-flex;
 	height: 50px;

 	ul{
 		padding: 0;
 	}

 	.sub-menu {
 		@include single-transition(max-height, 0.4s);
 		max-height: 0;
 		overflow: hidden;
 	}

 	.menu-item {
 		display: inline-block;
 		list-style: none;

 		a{
 			text-transform: uppercase;
 			text-decoration: none;
 			color: white;
 			padding: 4px 0;
 			margin: 0 8px;
 			border-bottom: thin solid transparent;

 			i{
 				@include single-transition(opacity, 0.4s);
 				opacity: 0;
 				margin-right: 6px;
 			}
 		}

 		&.current-menu-item, &.current_page_item, &:hover{
 			i{ opacity: 1; }

 			a{
 				border-bottom-color: white; 
 			}
 		}

 		&.menu-item-has-children{
 			position: relative;
			margin-bottom: $gutter-large;

 			.sub-menu{
 				a{
 					display: block;
 					white-space: nowrap;
 					background-color: rgba(0,0,0,0.5);
 					border-bottom: none;
 					padding: $gutter-small $gutter;

 					&:hover{
	 					background-color: rgba(0,0,0,1);
 					}
 				}
 			}

 			&:hover .sub-menu{
 				display: block;
 				max-height: rem-calc(400);
 			}
 		}

 		.sub-menu{
 			position: absolute;
 			margin-top: 30px;
 			top: 0;
 			left: 0;
		}
 	}

 	.social{
 		// margin-right: $gutter-hudge;
 		margin-top: 0;

 		ul{
 			margin-top: rem-calc(8);
 		}

 		li{
 			position: relative;
 			display: inline-block;

 			a{
 				background-color: black;
 				display: block;
 				border-bottom: none;
 				padding-top: 5px;
 				text-align: center;
 				margin: 0 4px 0 0;
 				height: 30px;
 				width: 30px;
 				overflow: hidden;
 				@include single-transition(background-color, 0.4s);

 				&:hover{
 					background-color: red;
 				}
 			}

 			&.facebook a:hover{
 				background-color: $facebook;
 			}
 			&.twitter a:hover{
 				background-color: $twitter;
 			}
 			&.youtube a:hover{
 				background-color: $youtube;
 			}

 			i{
 				width: 100%;
 				opacity: 1;
 			}

 			span{
 				display: none;
 			}
 		}
 	}
 }




