/**
 * partials/nav
 * ---
 * Menus
 */


.nav {
	font-family: $font-family-title;
	max-width: $wrapper-width;
  padding: 0 $margin-horizontal-large;
  margin: 0 auto;
	@include display-flex;

	ul{
		padding: 0;
	}

	.social li{
		position: relative;
		display: inline-block;
	}
}

.menu {
}

.sub-menu {
	display: none;
}

.menu-item {
	display: inline-block;
	list-style: none;
	
	a{
		text-transform: uppercase;
		color: white;
		padding: 5px 10px;
	}
}
