/* pages */

/* home */ 

.home{
	h3{
		text-align: center;
	}

	h2{
		font-size: $ft-size-super-hudge;
	}

	.oEmbed{
		max-width: rem-calc(850);
		margin-right: auto;
		margin-left: auto;
	}

	.banner{
		padding: rem-calc(100) 0 rem-calc(20);
	}

	.dairies article{
		&:after, &:before{
			display: none;
		}
		display: block;
		margin: 0 auto;
	}

}

.statut{

	.details > div{
		text-align: right;
		p{
			margin: 0;
			width: 100%;
		}
	}
	.details{
		.content{
			clear: both;
		}
		> h4{
			display: inline-block;
 			float: right;
		}   
	}   

	.thumbnail.map{
		height: rem-calc(215);

		a{
			overflow: hidden;
			height: 100%;
			display: block;
			width: 100%;
		}
	}
}

.presentation, .carte{

	& + .pagination.top{
		display: none;

		& + .dairies{
			.post .entry-date{
				display: none;
			}
		}
	}
}

.carte + .pagination + .dairies{
	.entry-comments{
		display: none;
	}
}

/* fundraising */

.fundraising{
	@include display-flex;
	margin-top: 0;
	
	h2{
		font-size: $ft-size-largest;
	}

	.pannel-fundraising{
		width: $pannel-width;
		@include flex-shrink(0);

		h2{
			margin-top: $gutter-super-hudge;	
		}

		.wdf_fundraiser_panel{
			padding: $gutter-large;

			> h2:first-child{
				margin-top: $gutter;
			}
			.wdf_reward_item{
				border: thin white solid;
	    	padding: $gutter-medium $gutter-large;
	    	margin-top: $gutter-large;

	    	h3{
	    		font-size: $ft-size-larger;
	    	}
		
				.wdf_direct_donate_button{
					margin-top: $gutter-large;
					margin-bottom: $gutter;
				}

				.wdf_level_amount{
					font-size: $ft-size-big;
					// font-weight: bold;
				}

				.wdf_reward_limit{
					font-size: $ft-size-medium;
					background-color: transparent;
					color: white;
				}
			}
		}


		input[type="text"]{
			color: $text-color-light;
		}

	}

	.content-fundraising{
		padding: $gutter-large;
		background-color: white;
		padding: $gutter-big;
		@include flex(1);

		> *:first-child{
			margin-top: 0;
			padding-top: 0;
			img{
				margin-top: 0;
			}
		}

		&, a{
			color: $text-color-light; 
		}

		h2{
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: rem-calc(5);
				left: -30px;
				width: 0;
				height: 0;
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				border-left: 8px solid black;
			}
		}
	}

	.ui-progressbar{
		background: transparent;
    padding: 4px 2px 2px 4px;
    border-radius: inherit;
    margin-top: 0;

    .ui-progressbar-value{
    	background: white;
	    border: none;
	    border-radius: inherit;
	    width: 0%;
    }
	}

	.wdf_direct_donate_button{
		color: #333;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    text-decoration: none;
    background: #eaeaea;
    padding: 5px 9px 6px;
    box-shadow: none;
    text-shadow: none;
	}

	.wdf-no-checkout .wdf_checkout_form{
		display: none;
	}

	div.wdf_total_backers, div.wdf_amount_raised{
		@include display-flex;
		margin: 0 0 0 -($gutter);

		> *{
			padding-right: $gutter;
		}
	}

	// .wdf_reward_item_none{
	// 	display: none;
	// }
}

/* search */

.search{

	article{
		@include display-flex;
		width: 100%;

		.thumbnail{
			max-width: 300px;
			@include flex-shrink(0);

			img{
				object-fit :cover;
				object-position :right;
				min-height: 100%;
			}
		}
	}

	main{
		@include display-flex;
		@include justify-content(center);
		@include flex-direction(column);
	}
	
}

.search-form{
	text-align: center;

	input{
		@include appearance(none);
		background-color: transparent;
		border: thin 1px white;
		min-width: 300px;
		padding: 0 $gutter-small;
	}

	form{
		button{
			color: black;
		}
	}
}



