/* pages */

/* home */ 

.home{
	h3{
		text-align: center;
	}

	h2{
		font-size: $ft-size-super-hudge;
	}

	.oEmbed{
		max-width: rem-calc(850);
		margin-right: auto;
		margin-left: auto;
	}

	.banner{
		padding: rem-calc(100) 0 rem-calc(20);
	}

	.dairies article{
		&:after, &:before{
			display: none;
		}
		display: block;
		margin: 0 auto;
	}

}

.statut{

	.details > div{
		text-align: right;
		p{
			margin: 0;
			width: 100%;
		}
	}
	.details{
		.content{
			clear: both;
		}
		> h4{
			display: inline-block;
 			float: right;
		}   
	}   

	.thumbnail.map{
		height: rem-calc(215);

		a{
			overflow: hidden;
			height: 100%;
			display: block;
			width: 100%;
		}
	}
}

.presentation, .carte{

	& + .pagination.top{
		display: none;

		& + .dairies{
			.post .entry-date{
				display: none;
			}
		}
	}
}

.carte + .pagination + .dairies{
	.entry-comments{
		display: none;
	}
}

/* search */

.search{

	article{
		@include display-flex;
		width: 100%;

		.thumbnail{
			max-width: 300px;
			@include flex-shrink(0);

			img{
				object-fit :cover;
				object-position :right;
				min-height: 100%;
			}
		}
	}

	main{
		@include display-flex;
		@include justify-content(center);
		@include flex-direction(column);
	}
	
}

.search-form{
	text-align: center;

	input{
		@include appearance(none);
		background-color: transparent;
		border: thin 1px white;
		min-width: 300px;
		padding: 0 $gutter-small;
	}

	form{
		button{
			color: black;
		}
	}
}
