/* shame of you */
.qtranxs-lang-menu{
	list-style: none;
	padding-right: rem-calc(40);
	> a{
		display: none;
	}	
	ul{
		&.sub-menu{
			padding :0;
		}
		li{
		margin-right: $gutter;
		list-style: none;
		display: inline-block;
		}
	}
}

.admin-bar{
	padding-top: 82px;
	background-position: 32px center;
	
	.header{
		top: 32px;
	}

}

button.button, a.button{
	@include appearance(none);
	font-size: $ft-size-large;
	background-color: transparent;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	padding: $gutter;
	text-transform: uppercase;
	font-family: $font-family-title;
	border: thin white solid;
	
	&.disable{
		display: none;
	}

	&.loading{
		display: inline-block;
		background-image: url('../img/loading-flat.gif');
		background-position: center center;
		background-repeat: no-repeat;
		color: transparent;
	}
}

.edit{
	li{
		list-style: none;
		margin-left: $gutter;
	}
}

.edit-post{
	position: absolute;
	bottom: 3px;
  right: -1px;
	z-index: 600;
	a{
		text-transform: uppercase;
		padding: $gutter-small $gutter;
		border: thin solid white;
		background-color: $grey;
	}
}

%fa{
    font-family: 'FontAwesome';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sticky-wrapper{
	height: 0 !important;
}

.social-count-plus{
	text-align: center;
	.flat{
		display: inline-block;
	}
}

.complete .social-count-plus{
	text-align: inherit;
	span{
		color: black !important;
	}
}

.mejs-container{
	width: auto !important;
}

.grecaptcha-badge{
	display: none;
}

.contact .grecaptcha-badge{
	display: initial;
}