/* shame of you */

.admin-bar{
	padding-top: 82px;
	background-position: 32px center;
	
	.header{
		top: 32px;
	}

}

.edit{
	li{
		list-style: none;
		margin-left: $gutter;
		a{
			text-transform: uppercase;
			padding: $gutter-small $gutter;
			border: thin solid white;
		}
	}
}

.edit-post{
	position: absolute;
	bottom: 3px;
  right: -1px;
	z-index: 600;
	a{
		text-transform: uppercase;
		padding: $gutter-small $gutter;
		border: thin solid white;
		background-color: $grey;
	}
}

%fa{
    font-family: 'FontAwesome';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}